body {
    //background-color: #dbdbdb;
    background-color: #000000;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.player-holder {
    text-align: center;
    position: relative;
    width: 60%;
}

.player-controls {
    bottom: 1%;
    width: 100%;
    text-align: left;
    position: absolute;

    background: #2d2d2d;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8));

    z-index: 2147483647;
}

#fullscreen-button {
    margin-right: 50%;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 8px;
    background: #ffffff;
    margin-top: -6px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    margin-top: -20px;
    cursor: pointer;
    background: #9ae587;
    background: rgba(154,229,135,0.5);
    border-color: transparent;
    color: transparent;
}

video::-webkit-media-controls {
    display:none !important;
}

.dropdown {
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    margin-left: 6%;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
}

