body {
    background-color: #dbdbdb;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.player-holder {
    text-align: center;
    position: relative;
    width: 420px;
}

.player-controls {
    top: 207px;
    height: 30px;
    width: 100%;
    background: #2d2d2d;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));

    text-align: left;
    position: absolute;

    z-index: 2147483647;
}

#volume-slider {
    margin-right: 135px;
}

video::-webkit-media-controls {
    display:none !important;
}
