body {
    background-color: #dbdbdb;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.player-holder {
    text-align: center;
    position: relative;
    width: 60%;
}

.player-controls {
    bottom: 1%;
    height: 35px;
    width: 100%;

    background: #2d2d2d;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));

    text-align: left;
    position: absolute;

    z-index: 2147483647;
}

#volume-slider {
    margin-top: 5px;
}

video::-webkit-media-controls {
    display:none !important;
}
